@media (max-width: 767px) {
  .blog-card-cnt h3 {
    font-size: 22px;
  }

  .blog-card-cnt p {
    font-size: 18px;
  }

  .blog-swiper-btns {
    flex-direction: column;
    align-items: flex-start;
  }
}
