@media (max-width: 1199px) {
  :root {
    --fs-15: 14px;
    --fs-18: 16px;
    --fs-20: 18px;
    --fs-24: 22px;
    --fs-28: 26px;
    --fs-30: 28px;
    --fs-46: 42px;
    --fs-55: 50px;
    --fs-86: 78px;
  }
}

@media screen and (max-width: 991px) {
  :root {
    --fs-15: 14px;
    --fs-18: 16px;
    --fs-20: 17px;
    --fs-24: 21px;
    --fs-28: 24px;
    --fs-30: 26px;
    --fs-46: 38px;
    --fs-55: 44px;
    --fs-86: 64px;
  }
  .col-lg-50 {
    width: 50%;
  }
  .col-lg-100 {
    width: 100%;
  }
  .banner-image {
    transform: scale(1.3);
    bottom: 0;
    right: 0;
    display: none;
  }
  .banner-top {
    text-align: center;
    justify-content: center;
    z-index: 2;
  }

  .banner-description {
    margin: 40px auto;
    max-width: 95%;
  }
  .banner-stats {
    margin: 60px auto 0;
    text-align: center;
  }
  .sec-content {
    justify-content: center;
    text-align: center;
  }
  .sec-description {
    margin: 24px auto;
    max-width: 95%;
  }
  .about-layout > .row > .col:first-of-type {
    display: none;
  }
  .our-partners .row > .col:last-of-type {
    display: none;
  }
  .about-media {
    margin: 0 auto 24px;
    width: fit-content;
  }
  .accordion > div {
    margin-bottom: 24px;
  }
  .ftr-cnt {
    margin: 24px 0;
    text-align: center;
  }
  .ftr-des {
    margin: 24px auto;
  }
  .ftr-socials {
    justify-content: center;
  }
  .ftr-cnt ul li a {
    justify-content: center;
  }
  .blog-swiper-btns {
    max-width: 100%;
  }
  .newsletter form {
    flex-direction: column;
  }
  .newsletter form > div:last-child {
    display: flex;
    justify-content: flex-end;
  }
  .newsletter form > div {
    margin-bottom: 16px;
    margin-right: 0px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --fs-15: 13px;
    --fs-18: 15px;
    --fs-20: 16px;
    --fs-24: 20px;
    --fs-28: 22px;
    --fs-30: 24px;
    --fs-46: 32px;
    --fs-55: 38px;
    --fs-86: 48px;
  }
  .col-md-100 {
    width: 100%;
  }
  .medical-sol-card {
    padding-top: 70px;
  }
  .icon-ring {
    width: 90px;
    height: 90px;
    box-shadow: 0 0 0 12px var(--clr-white-100);
  }
  .icon-ring img{
    width: 35px;
  }
  section{
    padding: 80px 0;
  }
}
@media (max-width: 575px) {
  :root {
    --fs-15: 12px;
    --fs-18: 14px;
    --fs-20: 15px;
    --fs-24: 18px;
    --fs-28: 20px;
    --fs-30: 22px;
    --fs-46: 28px;
    --fs-55: 32px;
    --fs-86: 40px;
  }
  section{
    padding: 70px 0;
  }
  .col-sm-100 {
    width: 100%;
  }
  .sec-btns {
    flex-direction: column;
  }
  .sec-btns > a {
    text-align: center;
  }
  .sec-btns > a:first-child {
    margin-bottom: 16px;
  }
  .about-card {
    min-height: auto;
  }
  .medical-sol-card-wrapper{
    padding-top: 40px;
  }
  .medical-sol-card {
    padding-top: 60px;
    min-height: 280px;
  }
  .icon-ring {
    width: 72px;
    height: 72px;
  }
  /* body{
    background: red;
  } */
}
@media (max-width: 425px) {
  :root {
    --fs-15: 12px;
    --fs-18: 12px;
    --fs-20: 12px;
    --fs-24: 12px;
    --fs-28: 16px;
    --fs-30: 18px;
    --fs-46: 20px;
    --fs-55: 24px;
    --fs-86: 30px;
  }
  section{
    padding: 50px 0;
  }
  .nav-brand{
    max-width: 180px;
  }
  .banner-stats{
    margin: 35px auto 0;
  }
  .banner-description{
    margin: 30px auto;
  }
  .banner-stats ul li:nth-child(1),
  .banner-stats ul li:nth-child(3) {
    margin-right: 0;
  }
  .banner-stats ul li {
    width: 45%;
    margin: 0 auto;
  }
  .banner-btn {
    width: 90%;
    margin: 0 auto;
  }
  .banner-btn ul {
    width: 100%;
  }
  .banner-btn ul li:first-of-type {
    margin-right: 0;
  }
  .accordion-header{
    padding: 16px;
  }
  .accordion-content{
    padding: 0 16px;
  }
  .about-card{
    border-radius: 18px;
    align-items: center;
    text-align: center;
  }
  .about-btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  .about-layout{
    margin-top: 30px;
  }
}
@media (max-width: 360px) {
  :root {
    --fs-15: 12px;
    --fs-18: 13px;
    --fs-20: 14px;
    --fs-24: 17px;
    --fs-28: 19px;
    --fs-30: 20px;
    --fs-46: 24px;
    --fs-55: 28px;
    --fs-86: 34px;
  }
  .blog-swiper-btns {
    flex-direction: column;
    align-items: flex-end;
  }
  .blog-swiper-btns > div:first-child {
    margin-bottom: 16px;
  }
}
