
/* Navbar */
.navbar {
  padding: 20px 0;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav ul li:not(:last-child) {
  margin-right: 10px;
}
.nav-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-collapse div:first-child {
  margin-right: 40px;
}
.nav-links ul li {
  position: relative;
}
.nav-links ul li a {
  font-size: var(--fs-18);
  font-weight: var(--fw-semibold);
  transition: color 0.3s ease;
}

.nav-links ul li::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background: var(--clr-blue-480);
  transition: width 0.3s ease;
}
.nav-links ul li:hover:after {
  width: 100%;
}
.nav-links ul li:hover a {
  color: var(--clr-blue-480);
}

.nav-button ul li svg {
  fill: var(--clr-black-000);
  transition: fill 0.3s ease;
}
.nav-button ul li:hover svg {
  fill: var(--clr-blue-480);
}
/* ===== NAV TOGGLER ===== */
.nav-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-toggle span {
  width: 28px;
  height: 3px;
  background: var(--clr-text);
  border-radius: 2px;
  transition: all 0.3s ease;
}
.nav-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.nav-toggle.active span:nth-child(2) {
  opacity: 0;
}

.nav-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

@media (max-width: 991px) {
  /* Hide topbar */
  .topbar {
    display: none;
  }
  
  .navbar{
    position: relative;
  }
  nav {
    align-items: center;
  }

  .nav-toggle {
    display: flex;
  }

  .nav-collapse {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
    background: var(--clr-white-100);
    z-index: 999;
  }

  .nav-collapse.active {
    display: flex;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-links ul li {
    padding: 12px 0;
  }

  .nav-button {
    margin-top: 15px;
  }
  nav ul li{
  margin-right: 0px;
}
.nav-collapse div:first-child {
  margin-right: 0px;
}
}
