@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Montserrat", sans-serif; */

:root {
  --clr-black-000: hsl(0, 0%, 0%); /* #000000 */
  --clr-white-100: hsl(0, 0%, 100%); /* FFFFFF */
  --clr-grey-520: hsl(220, 2%, 52%); /* #818387 */
  --clr-blue-480: hsl(183, 57%, 48%); /* #35B8C0 */
  --clr-purple-550: hsl(255, 51%, 55%); /* #6F51C7 */
  --clr-text: hsl(240, 1%, 13%); /* #212122 */
  --clr-button-900: hsl(180, 59%, 90%); /* #D8F5F5 */
  --clr-lightblue-900: hsl(180, 59%, 90%); /* #D8F5F5 */
  --clr-footer-252: rgb(241, 241, 252); /* #F1F1FC */

  --lg-purple-blue: linear-gradient(
    to bottom,
    var(--clr-purple-550) 0%,
    var(--clr-blue-480) 100%
  );

  --fs-15: 15px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-28: 28px;
  --fs-30: 30px;
  --fs-46: 46px;
  --fs-55: 55px;
  --fs-86: 86px;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --lh-110: 1.1;
  --lh-120: 1.2;
  --lh-127: 1.27;
  --lh-135: 1.35;
  --lh-140: 1.4;
  --lh-150: 1.5;
  --lh-155: 1.5;
  --lh-166: 1.66;
  --lh-170: 1.7;
  --lh-188: 1.88;
  --lh-190: 1.9;

  --ls-01: 0.1em;

  --ff-montserrat: "Montserrat", sans-serif;

  --m10: clamp(6px, 1vw, 10px);

  --btn-main-ypad: clamp(12px, 1.2vw, 18px);
  --btn-main-xpad: clamp(24px, 3vw, 50px);

  --btn-swiper-size: clamp(40px, 6vw, 70px);
  --btn-swiper-mb: clamp(16px, 2vw, 30px);
  --btn-swiper-mr: clamp(8px, 1.5vw, 10px);

  --btn-card-ypad: clamp(10px, 1.8vw, 20px);
  --btn-card-xpad: clamp(18px, 2vw, 30px);
  --btn-card-border: clamp(28px, 6vw, 47px);

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-montserrat);
  color: var(--clr-text);
  overflow-x: hidden;
}
ul,
ol {
  list-style-type: none;
}
li {
  font-family: var(--ff-montserrat);
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
input,
button,
textarea,
select {
  font: inherit;
}
figure {
  object-fit: cover;
  margin: 0;
}
.container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  padding: 90px 0;
}
.btn {
  padding: var(--btn-main-ypad) var(--btn-main-xpad);
  border-radius: 52px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: var(--fs-20);
  line-height: var(--lh-170);
  border: 2px solid transparent;
}
.btn svg {
  margin-left: 10px;
}
.btn-primary {
  background: var(--clr-blue-480);
  color: var(--clr-white-100);
  transition: color 0.3s ease, background 0.3s ease, border-color 0.3s ease;
}
.btn-primary svg {
  fill: var(--clr-white-100);
}
.btn-primary:hover {
  color: var(--clr-blue-480);
  background: var(--clr-white-100);
  border-color: var(--clr-blue-480);
}
.btn-primary:hover svg {
  fill: var(--clr-blue-480);
}

.btn-secondary {
  background: var(--clr-white-100);
  color: var(--clr-blue-480);
  border-color: var(--clr-blue-480);
  transition: color 0.3s ease, background 0.3s ease, border-color 0.3s ease;
}
.btn-secondary svg {
  fill: var(--clr-blue-480);
}
.btn-secondary:hover {
  color: var(--clr-white-100);
  background: var(--clr-blue-480);
  border-color: var(--clr-white-100);
}
.btn-secondary:hover svg {
  fill: var(--clr-white-100);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.col {
  padding: 0 15px;
}
.col-20 {
  width: 20%;
}
.col-25 {
  width: 25%;
}
.col-30 {
  width: 30%;
}
.col-40 {
  width: 40%;
}
.col-50 {
  width: 50%;
}
.col-60 {
  width: 60%;
}
/* ==================== Section Content Start =============== */
.sec-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.sec-cnt-lt {
  max-width: 600px;
}
.sec-cnt-rt {
  max-width: 686px;
}
.sec-badge {
  text-transform: uppercase;
  color: var(--clr-purple-550);
  font-size: var(--fs-15);
  line-height: var(--lh-166);
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls-01);
  margin-bottom: 24px;
  display: block;
}
h2 {
  font-size: var(--fs-55);
  font-weight: var(--fw-bold);
  line-height: var(--lh-120);
}
.sec-description {
  font-size: var(--fs-24);
  line-height: var(--lh-140);
}
/* ==================== Section Content End =============== */

/* ========= Swiper Prev Next Btns Start */
.swiper-btns {
  margin-left: auto;
  margin-bottom: var(--btn-swiper-mb);
  width: fit-content;
}
.swiper-btns > div {
  height: var(--btn-swiper-size);
  width: var(--btn-swiper-size);
  background: var(--clr-button-900);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--clr-blue-480);
  cursor: pointer;
  transition: background 0.3s ease;
}
.swiper-btns > div:first-child {
  margin-right: var(--btn-swiper-mr);
}
.swiper-btns > div:hover{
  background: var(--clr-white-100);
}
.swiper-btns svg {
  width: clamp(16px, 2.5vw, 24px);
  height: auto;
}

/* ========= Swiper Prev Next Btns End */
/* ========= Card Common Buttons Start */
.card-btn {
  padding: var(--btn-card-ypad) var(--btn-card-xpad);
  display: inline-flex;
  align-items: center;
  border-radius: var(--btn-card-border);
  border: 2px solid transparent;
  color: var(--clr-blue-480);
  background: var(--clr-white-100);
  transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.card-btn svg {
  fill: var(--clr-blue-480);
  margin-left: var(--m10);
}
.card-btn:hover {
  color: var(--clr-white-100);
  background: transparent;
  border-color: var(--clr-white-100);
}
.card-btn:hover svg {
  fill: var(--clr-white-100);
}
/* ========= Card Common Buttons End */


/* ==================== Header */
header hr {
  width: 100%;
  height: 2px;
  background-color: var(--clr-grey-520);
}
/* ==================== topbar start */
.topbar {
  padding: 20px 0;
}
.topbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.topbar-wrapper ul,
.topbar-left ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar-left ul li {
  flex-wrap: wrap;
  color: var(--clr-grey-520);
}
.topbar-left ul li:not(:last-child) {
  margin-right: 24px;
}
.topbar-left ul li i:not(:last-child) {
  margin-right: 10px;
}
.topbar-right ul li:not(:last-child) {
  margin-right: 15px;
}


/* Banner */
.banner {
  position: relative;
  overflow: hidden;
  /* min-height: 1120px; */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-image {
  position: absolute;
  right: -120px;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.banner-top{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 1112px;
  width: 100%;
}

h1 {
  font-size: var(--fs-86);
  line-height: var(--lh-110);
}
h1 span {
  color: var(--clr-purple-550);
}
.banner-description {
  max-width: 828px;
  width: 100%;
  font-size: var(--fs-24);
  line-height: var(--lh-170);
  margin: 40px 0 0;
}
.banner-btn {
  margin: 60px 0 0;
}
.banner-btn ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
}
.banner-btn ul li:first-child {
  margin-right: 24px;
}
.banner-stats {
  max-width: 500px;
  width: 100%;
  margin: 60px 0 0;
}
.banner-stats ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.banner-stats ul li {
  max-width: 220px;
  width: 100%;
}
.banner-stats ul li:nth-child(1), .banner-stats ul li:nth-child(3){
  margin-right: 40px;
}
.banner-stats ul span {
  display: block;
}
.banner-stats ul span:first-child {
  color: var(--clr-purple-550);
  font-size: var(--fs-46);
  font-weight: var(--fw-bold);
  line-height: var(--lh-127);
}
.banner-stats ul span:last-child {
  color: var(--clr-text);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-20);
  line-height: var(--lh-150);
  text-transform: capitalize;
}
.banner-stats ul li:nth-child(3),
.banner-stats ul li:nth-child(4) {
  margin-top: 30px;
}

/* ========== Top Quality */
.medical-sol-cards {
  margin: 0 -12px;
}

.medical-sol-card-wrapper {
  position: relative;
  padding-top: 80px;
}
.medical-sol-card {
  background: var(--lg-purple-blue);
  border-radius: 15px;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-white-100);

  min-height: 350px;
  padding: 80px 20px 30px;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-ring {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: var(--clr-white-100);

  /* center image */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Inner Colored Ring */
  border: 2px solid transparent;
  background-image: linear-gradient(var(--clr-white-100), var(--clr-white-100)),
    linear-gradient(to bottom, var(--clr-purple-550), var(--clr-blue-480));

  background-origin: border-box;
  background-clip: content-box, border-box;

  /* Outer White Ring */
  box-shadow: 0 0 0 18px var(--clr-white-100);
  z-index: 2;
}
.icon-ring img {
  width: 55px;
  height: auto;
}
.medical-sol-card h3 {
  font-size: var(--fs-28);
  font-weight: var(--fw-medium);
  line-height: var(--lh-120);
}
.medical-sol-card p {
  font-size: var(--fs-18);
  line-height: var(--lh-190);
  font-weight: var(--fw-regular);
  margin: 24px 0;
}

.swiper {
  width: 100%;
  height: 100%;
}


/* About us */

.about-us .sec-cnt-lt {
  max-width: 700px;
  width: 100%;
}
.about-layout {
  margin-top: 60px;
}
.about-layout > .row {
  align-items: center;
}
.about-media {
  pointer-events: none;
}
.about-card {
  padding: 24px;
  border-radius: 32px;
  background: var(--clr-lightblue-900);
  min-height: 267px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 12px 0;
  white-space: inherit;
}
.about-card > *:not(:last-child) {
  margin-bottom: 10px;
}
.about-card h3 {
  font-size: var(--fs-28);
  font-weight: var(--fw-regular);
  line-height: var(--lh-135);
  color: var(--clr-purple-550);
}
.about-card p {
  font-size: var(--fs-18);
  line-height: var(--lh-155);
}
.about-btn {
  margin-top: 30px;
}

/* =============== Equipment Swiper */
.eqi-card {
  background: radial-gradient(rgba(111, 81, 199, 0.7), rgba(53, 184, 192, 0.7));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
  border-radius: 15px;
}
.eqi-card figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.eqi-card-cnt > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eqi-card-cnt > div:first-child {
  margin-bottom: 30px;
}
.eqi-card-cnt-top h3 {
  font-size: var(--fs-28);
  font-weight: var(--fw-medium);
  color: var(--clr-white-100);
  text-transform: capitalize;
}
.eqi-card-cnt-top p i {
  margin-right: 10px;
}
.eqi-card-cnt-top p {
  display: inline-flex;
  align-items: center;
  font-size: var(--fs-28);
  font-weight: var(--fw-medium);
  line-height: var(--lh-127);
  color: var(--clr-white-100);
}


.eqi-details-btn {
  font-size: var(--fs-20);
  line-height: var(--lh-170);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--clr-white-100);
  color: var(--clr-white-100);
  transition: opacity 0.3s ease;
}
.eqi-details-btn:hover {
  opacity: 0.8;
}
/* ====== Accodian  Start */
.our-partners .sec-content {
  margin-bottom: 60px;
}
.our-partners .row .col {
  display: flex;
}
.b {
  border: 1px solid black;
}
.accordion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.accordion > div:not(:last-child) {
  margin-bottom: 24px;
}
.accordion-item {
  background: var(--clr-lightblue-900);
  border-radius: 15px;
  overflow: hidden;
}

.accordion-header {
  width: 100%;
  padding: 24px;
  background: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.accordion-left {
  display: flex;
  align-items: center;
}
.accordion-left h3 {
  font-size: var(--fs-24);
  font-weight: var(--fw-regular);
  color: var(--clr-purple-550);
  line-height: var(--lh-135);
}
.accordion-left figure {
  margin-right: 10px;
}
.accordion-icon {
  width: 12px;
  height: 12px;
  border-right: 2.5px solid var(--clr-purple-550);
  border-bottom: 2.5px solid var(--clr-purple-550);
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

/* content */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
  padding: 0 24px;
}

.accordion-content p {
  padding: 18px 0 24px;
  font-size: var(--fs-18);
  line-height: var(--lh-135);
  color: var(--clr-grey-520);
}

/* active state */
.accordion-item.active .accordion-content {
  max-height: 200px; /* enough for text */
}

.accordion-item.active .accordion-icon {
  transform: rotate(-135deg);
}
.ptr-img-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.ptr-img-lft {
  margin-right: 24px;
}
.ptr-img-lft figure:not(:last-child) {
  margin-bottom: 24px;
}

/* ====== Accodian  End */
/* ====== Our Blog Start */
.our-blog .sec-cnt-lt {
  max-width: 750px;
}
.blog-swiper-btns {
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 686px;
  display: flex;
  justify-content: space-between;
  /* width: fit-content; */
}
.blog-card {
  background: red;
  /* max-width: 544px; */
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.blog-card figure {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-card-cnt {
  background: linear-gradient(
    to bottom,
    var(--clr-purple-550) 0%,
    var(--clr-blue-480) 100%
  );
  padding: 30px;
  color: var(--clr-white-100);
}
.blog-card-cnt h3 {
  font-size: var(--fs-28);
  font-weight: var(--fw-medium);
  line-height: var(--lh-135);
  text-transform: capitalize;
}
.blog-card-cnt p {
  font-size: var(--fs-20);
  font-weight: var(--fw-regular);
  line-height: var(--lh-150);
  text-transform: capitalize;
  margin: 24px 0;
}
.blog-card-cnt a {
  font-size: var(--fs-18);
  font-weight: var(--fw-medium);
  line-height: var(--lh-188);
  display: inline-flex;
  align-items: center;
  transition: opacity 0.3s ease;
}
.blog-card-cnt a svg {
  fill: var(--clr-white-100);
  margin-left: 24px;
}
.blog-card-cnt a:hover {
  opacity: 0.8;
}
.blog-card-cnt a:hover svg {
  transform: translateX(-10px) rotate(330deg) scale(1.1);
}
/* ====== Our Blog End */
/* ======Our Team Start */
.our-team .sec-cnt-lt {
  max-width: 700px;
  width: 100%;
}

.team-card {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;
}

/* Image */
.team-card img {
  width: 100%;
  aspect-ratio: 3/4;
  object-fit: cover;
  display: block;
}

/* Overlay gradient */
.team-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.1),
    transparent
  );
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Info container */
.team-info {
  position: absolute;
  left: 24px;
  bottom: 24px;
  z-index: 2;

  color: var(--clr-white-100);
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

/* Name */
.team-info h3 {
  font-size: var(--fs-20);
  font-weight: var(--fw-medium);
  line-height: var(--lh-150);
  margin-bottom: 4px;
}

/* Designation */
.team-info span {
  font-size: var(--fs-15);
  font-weight: var(--fw-regular);
  line-height: var(--lh-110);
}

/* Hover effect */
.team-card:hover::after {
  opacity: 1;
}

.team-card:hover .team-info {
  opacity: 1;
  transform: translateY(0);
}


/* ====== Our Team End */
/* ====== Get Started Now Start */
.get-started-now .sec-cnt-lt {
  max-width: 850px;
  width: 100%;
}
.sec-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.newsletter {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  min-height: 420px;
  margin-top: 60px;
}

.newsletter-bg {
  position: absolute;
  inset: 0;
  background: radial-gradient(
      circle,
      rgba(53, 184, 192, 0.28),
      rgba(0, 16, 17, 1)
    ),
    url("../images/get-started-now/get-started-now.svg") top / cover no-repeat;
  z-index: 0;
}

.newsletter-form {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 32px;
}

.newsletter form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.newsletter-form h3 {
  font-size: var(--fs-46);
  line-height: var(--lh-120);
  font-weight: var(--fw-bold);
  color: var(--clr-white-100);
  text-align: center;
}
.input-email {
  max-width: 520px;
  width: 100%;
  margin-right: 24px;
}
.newsletter input[type="email"] {
  padding: 24px 50px;
  border-radius: 52px;
  border: none;
  outline: none;
  width: 100%;
}
.input-btn{
  max-width: 520px;
  width: 100%;
}
.input-submit .btn {
  white-space: nowrap;
}
/* ====== Get Started Now End */

/* ======= Footer Start */
footer {
  padding-top: 90px;
  background: var(--clr-footer-252);
}
.ftr-des {
  font-size: var(--fs-20);
  line-height: var(--lh-150);
  color: var(--clr-text);
  max-width: 402px;
  width: 100%;
  margin: 24px 0;
}

.ftr-socials {
  display: flex;
}
.ftr-socials li {
  width: 70px;
  height: 70px;
  background: var(--clr-purple-550);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 52px;
  transition: opacity 0.3s ease;
}
.ftr-socials li:hover {
  opacity: 0.7;
}
.ftr-socials li:not(:last-child) {
  margin-right: 15px;
}
.ftr-heading {
  font-size: var(--fs-30);
  line-height: var(--lh-110);
  font-weight: var(--fw-semibold);
  color: var(--clr-text);
  margin-bottom: 24px;
}
.ftr-list li:not(:last-child) {
  margin-bottom: 10px;
}
.ftr-list li {
  transition: color 0.3s ease;
}
.ftr-list li a {
  font-size: var(--fs-20);
  font-weight: var(--fw-regular);
  line-height: var(--lh-150);
  color: var(--clr-black-000);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}
.ftr-list li:hover a {
  color: var(--clr-purple-550);
}
.ftr-list li a figure {
  background: var(--clr-purple-550);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 52px;
  margin-right: 24px;
}
.ftr-list li:first-child a figure {
  width: 100px;
}
footer hr {
  margin-top: 48px;
  background: transparent;
  height: 2px;
  border-bottom: 2px solid var(--clr-grey-520);
}
.footer-bottom {
  padding: 24px 0;
  text-align: center;
  font-size: var(--fs-20);
  font-weight: var(--fw-regular);
  line-height: var(--lh-150);
  color: var(--clr-black-000);
  text-transform: capitalize;
}
/* ======= Footer End */
