@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Montserrat", sans-serif; */
:root {
  --clr-black-000: hsl(0, 0%, 0%);  /* #000000 */
  --clr-white-100: hsl(0, 0%, 100%);    /* FFFFFF */
  --clr-grey-520: hsl(220, 2%, 52%);    /* #818387 */
  --clr-blue-480: hsl(183, 57%, 48%);   /* #35B8C0 */
  --clr-purple-550: hsl(255, 51%, 55%);    /* #6F51C7 */
  --clr-text: hsl(240, 1%, 13%);    /* #212122 */

  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-46: 46px;
  --fs-86: 86px;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  --lh-110: 1.1;
  --lh-127: 1.27;
  --lh-150: 1.5;
  --lh-170: 1.7;

  --ff-montserrat: "Montserrat", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: var(--ff-montserrat);
}
ul,
ol {
  list-style-type: none;
}
li {
  font-family: var(--ff-montserrat);
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
input,
button,
textarea,
select {
  font: inherit;
}
figure {
  object-fit: cover;
  margin: 0;
}
.container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
section{
    padding: 90px 0;
}
.btn{
    padding: 18px 50px;
    border-radius: 52px;
    display: inline-flex;
    align-items: center;
    text-transform: capitalize;
    font-size: var(--fs-20);
    line-height: var(--lh-170);
    border: 2px solid transparent;
}
.btn svg{
    margin-left: 10px;
}
.btn-primary{
    background: var(--clr-blue-480);
    color: var(--clr-white-100);
    transition: color 0.3s ease, background 0.3s ease, border-color 0.3s ease;
}
.btn-primary svg{
    fill: var(--clr-white-100);
}
.btn-primary:hover{
    color: var(--clr-blue-480);
    background: var(--clr-white-100);
    border-color: var(--clr-blue-480);
}
.btn-primary:hover svg{
    fill: var(--clr-blue-480);
}

.btn-secondary{
    background: var(--clr-white-100);
    color: var(--clr-blue-480);
    border-color: var(--clr-blue-480);
    transition: color 0.3s ease, background 0.3s ease, border-color 0.3s ease;
}
.btn-secondary svg{
    fill: var(--clr-blue-480);
}
.btn-secondary:hover{
    color: var(--clr-white-100);
    background: var(--clr-blue-480);
    border-color: var(--clr-white-100);
}
.btn-secondary:hover svg{
    fill: var(--clr-white-100);
}
/* ==================== Header */
header hr{
    width: 100%;
    height: 2px;
    background-color: var(--clr-grey-520);
}
/* ==================== topbar start */
.topbar {
  padding: 20px 0;
}
.topbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.topbar-wrapper ul,
.topbar-left ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar-left ul li {
  flex-wrap: wrap;
  color: var(--clr-grey-520);
}
.topbar-left ul li:not(:last-child) {
  margin-right: 24px;
}
.topbar-left ul li i:not(:last-child) {
  margin-right: 10px;
}
.topbar-right ul li:not(:last-child) {
  margin-right: 15px;
}
/* Navbar */
.navbar{
    padding: 20px 0;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
nav ul li:not(:last-child) {
  margin-right: 10px;
}
.nav-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-collapse div:first-child {
  margin-right: 40px;
}
.nav-links ul li {
  position: relative;
}
.nav-links ul li a {
  font-size: var(--fs-18);
  font-weight: var(--fw-semibold);
  transition: color 0.3s ease;
}

.nav-links ul li::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background: var(--clr-blue-480);
  transition: width 0.3s ease;
}
.nav-links ul li:hover:after {
  width: 100%;
}
.nav-links ul li:hover a {
  color: var(--clr-blue-480);
}

.nav-button ul li svg{
    fill: var(--clr-black-000);
    transition: fill 0.3s ease;
}
.nav-button ul li:hover svg{
    fill: var(--clr-blue-480);
}

/* Banner */
.banner{
    position: relative;
}
.banner-image{
    position: absolute;
    right: -120px;
    top: 0;
}
h1{
    font-size: var(--fs-86);
    line-height: var(--lh-110);
    max-width: 1112px;
}
h1 span{
    color: var(--clr-purple-550);
}
.banner-description{
    max-width: 828px;
    width: 100%;
    font-size: var(--fs-24);
    line-height: var(--lh-170);
    margin-top: 40px;
}
.banner-btn{
    margin-top: 60px;
} 
.banner-btn ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
}
.banner-btn ul li:first-child{
    margin-right: 24px;
}
.banner-stats{
    max-width: 500px;
    margin-top: 60px;
}
.banner-stats ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.banner-stats ul li{
    max-width: 220px;
    width: 100%;
}
.banner-stats ul span{
    display: block;
}
.banner-stats ul span:first-child{
    color: var(--clr-purple-550);
    font-size: var(--fs-46);
    font-weight: var(--fw-bold);
    line-height: var(--lh-127);
}
.banner-stats ul span:last-child{
    color: var(--clr-text);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-20);
    line-height: var(--lh-150);
    text-transform: capitalize;
}
.banner-stats ul li:nth-child(3),.banner-stats ul li:nth-child(4){
    margin-top: 30px;
}